* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 2s;
}

header {
    color:plum;
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:none;
}

/* .side {
    height:50px;
    width:50px;
    background-color:orange;
    border-radius:50%;
    transition:background 1s;
    display:flex;
    position: absolute;
    right:30vh;
} */

main{
    display: flex;
    flex-direction: column;
}

.container{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.words{
    width: 100vw;
    height: 20vh;
    bottom: 20vh;
    display:flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size:200%;
}

.words2 {
    position: fixed;
    left:45%;
    bottom:20px;
}

a {
    text-decoration: none;
    color: purple;
}

.smile{
    display:flex;
    justify-content: center;
    align-items:center;
}

@media screen and (max-width:2000px) {
    
    body {
        background:palevioletred;
        transition:background 1s;
        font-size: 100%;
        align-items: center;
    }

    main {
        flex-direction:column;
    }

    .side {
        width:100%;
        height:50px;
        width:50px;
        background-color:red;
        border-radius:50%;
    }

    #phrase1 {
        display:none;
    }
    #phrase2 {
        display: none;
    }
    #phrase3 {
        display: none;
    }
    #phrase4 {
        display: none;
    }
    #phrase5 {
        display: none;
    }
    #smile1 {
        display:none;
    }
    #smile2 {
        display:none;
    }
    #smile3{
        display: none;
    }
    #smile4{
        display: none;
    }
    #smile5{
        display: none;
    }
}

@media screen and (max-width:1800px) {
    
    body {
        background-color:palevioletred;
        transition:background 1s;
        font-size: 100%;
        align-items: center;
    }

    main {
        flex-direction:column;
    }

    .side {
        width:100%;
        height:50px;
        width:50px;
        background-color:rgb(182, 13, 13);
        border-radius:50%;
    }

    #phrase1 {
        display:inline;
        color: red;
    }
    #phrase2 {
        display: none;
    }
    #phrase3 {
        display: none;
    }
    #phrase4 {
        display: none;
    }
    #phrase5 {
        display: none;
    }
    #smile1 {
        display:contents;
    }
    #smile2 {
        display:none;
    }
    #smile3{
        display: none;
    }
    #smile4{
        display: none;
    }
    #smile5{
        display: none;
    }
}

@media screen and (max-width:1500px) {
    
    body {
        background-color:pink;
        transition:background 1s;
        font-size: 100%;
        align-items: center;
    }

    main {
        flex-direction:column;
    }

    header {
        color:teal;
    }

    .side {
        width:100%;
        height:50px;
        width:50px;
        background-color:purple;
        border-radius:50%;
    }

    #phrase1 {
        display:none;
    }
    #phrase2 {
        display: inline;
        color:purple;
    }
    #phrase3 {
        display: none;
    }
    #phrase4 {
        display: none;
    }
    #phrase5 {
        display: none;
    }
    #smile1 {
        display:none;
    }
    #smile2 {
        display:contents;
    }
    #smile3{
        display: none;
    }
    #smile4{
        display: none;
    }
    #smile5{
        display: none;
    }
}

@media screen and (max-width:1000px) {
    
    body {
        background:peachpuff;
        transition:background 1s;
        font-size: 100%;
        align-items: center;
    }

    main {
        flex-direction:column;
    }

    .side {
        width:100%;
        height:50px;
        width:50px;
        background-color:orange;
        border-radius:50%;
    }

    #phrase1 {
        display:none;
    }
    #phrase2 {
        display: none;
    }
    #phrase3 {
        display: inline;
        color: rgb(213, 143, 22);
    }
    #phrase4 {
        display: none;
    }
    #phrase5 {
        display: none;
    }
    #smile1 {
        display:none;
    }
    #smile2 {
        display:none;
    }
    #smile3{
        display: contents;
    }
    #smile4{
        display: none;
    }
    #smile5{
        display: none;
    }
}

@media screen and (max-width:800px) {
    body {
        background:palegoldenrod;
        transition:background 1s;
        font-size: 100%;
        align-items: center;
    }

    .side {
        width:100%;
        height:50px;
        width:50px;
        background-color:pink;
        border-radius:50%;
    }

    #phrase1 {
        display:none;
    }
    #phrase2 {
        display: none;
    }
    #phrase3 {
        display: none;
    }
    #phrase4 {
        display: inline;
        color:palevioletred;
    }
    #phrase5 {
        display: none;
    }
    #smile1 {
        display:none;
    }
    #smile2 {
        display:none;
    }
    #smile3{
        display: none;
    }
    #smile4{
        display: contents;
    }
    #smile5{
        display: none;
    }
}

@media screen and (max-width:500px) {
    body {
        background:plum;
        transition:background 1s;
        font-size: 100%;
        align-items: center;
    }

    header {
        color:wheat;
    }

    .side {
        width:100%;
        height:50px;
        width:50px;
        background-color:plum;
        border-radius:50%;
    }

    #phrase1 {
        display:none;
    }
    #phrase2 {
        display: none;
    }
    #phrase3 {
        display: none;
    }
    #phrase4 {
        display: none;
    }
    #phrase5 {
        display: inline;
        color: rgb(163, 93, 163);
    }
    #smile1 {
        display:none;
    }
    #smile2 {
        display:none;
    }
    #smile3{
        display: none;
    }
    #smile4{
        display: none;
    }
    #smile5{
        display: contents;
    }
}