* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Avara-Bold';
    src: url('Avara-Bold.eot');
    src: url('Avara-Bold.eot?#iefix') format('embedded-opentype'),
         url('Avara-Bold.woff2') format('woff2'),
         url('Avara-Bold.woff') format('woff'),
         url('Avara-Bold.ttf') format('truetype'),
         url('Avara-Bold.svg#avarabold') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1 {
    font-family:Arial, Helvetica, sans-serif;
    color:purple;
    text-align: center;
}

p {
    color:black;
    text-align: center;
    font-family: 'Avara-Bold', serif;
    margin-top: -70px;
    margin-bottom: 60px;
    font-size: medium;
}

a {
    font-family: 'Avara-Bold', serif;;
    color:rgb(196, 135, 196);
    font-size:20px;
    padding:0px;
    line-height: 30px;
    text-decoration: none ;
    margin-left: 40px;
}

a:hover {
    color: olive;
}


body {
    background: lavender;

}

.box {
    /* background-color: rgb(229, 82, 82); */
    width: 500px;
    height: 450px;
    left:5px;
    top:5vh;
    margin-top: -50px; 
    position: fixed;
}

.navigation {
    position: fixed;
    justify-content: baseline;
    margin-top: 200px;
}

.navigation2 {
    position: fixed;
    justify-content: baseline;
    margin-top: 590px;
}

li {
    list-style-type: none;
}

.space {
    position: fixed;
    margin-top:40%;
    margin-left:18%;
}