@font-face {
    font-family: 'Avara_Bold';
    src: url('fonts/bold/avara-bold.woff') format('woff'),
         url('fonts/bold/avara-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'Avara_Bold';
    src: url('fonts/bolditalic/Avara-Bold_Italic.woff') format('woff'),
         url('fonts/bolditalic/Avara-Bold_Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    
}

@font-face {
    font-family: 'Avara_Bold';
    src: url('fonts/black/Avara-Black.woff') format('woff'),
         url('fonts/black/Avara-Black.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    
}

img {
    position: relative;
    left:50vh;
}

p {
    color:whitesmoke;
}

body {
    font-family: 'Avara_Bold', serif;
    font-size: 20px;
    /* background-color:rgb(192, 226, 163); */
    color:whitesmoke;
    text-align:right;
    background-image: url("1copy.png");
    background-size:30%;
}

.fontsizelarge {
    font-size:3cm;
    text-align:left;
}

.sticky {
    position:sticky;
    top:0px;
    right:20px;
}

/* .circle { */
    background-color:darkseagreen;
    width:2000px;
    height:80px;
    border:1px solid;
    border-radius:100%;
    position:fixed;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;
    filter:blur(15px);
    z-index:-1;
}

.space {
    padding:100px;
    text-align: end;
}

a {
    text-decoration: none;
    color:whitesmoke;
}

p:hover {
    color:red;
    text-decoration: line-through;
}

@media screen and (max-width:800px) {
    
    body {
        background:rgb(172, 15, 15);
        transition:background 1s;
        text-align: center;
    }

    .square {
        height:1080px;
        width:1920px;
        color:rgb(172, 15, 15));
    }
}