* {
    box-sizing: border-box;
}

h1 {
    font-family:cursive;
    color: purple;
    font-size: 70px;
    margin-bottom: -10px;
    text-align: center;
}

p {
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: -20px;;
    font-size: 20px;
    text-align: center;
}

.flex {
    display:flex;
    flex-wrap: wrap;
    margin-top:100px;
}

body {
    background:plum;
}

img {
    cursor: grab;
    width:200px;
    height:200px;
}

.new-sticker {
    width:200px;
    opacity:0;
    transition: opacity .5s;
}

.draggable {
    cursor: grab;
}

.center {
    position: fixed;
    align-items: center;
}

a:hover {
    color: purple;
    text-decoration: none;
}

/* button {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} */