* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Banquise-Regular';
    src: url('Banquise-Regular.woff') format('woff'),
         url('Banquise-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Banquise-Regular', 'sans-serif';
    color: burlywood;
    font-size: 70px;
    margin-bottom: -10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: peru;
}

p {
    color:peru;
    font-family:'Banquise-Regular', 'sans-serif';
    margin-top: -3px;
    font-size: 20px;
    text-align: center;
}

.flex {
    display:flex;
    flex-wrap: wrap;
    margin-top:100px;
}

body {
    background:wheat;
}

img {
    cursor: grab;
    width:200px;
    height:200px;
}

.new-sticker {
    width:200px;
    opacity:0;
    transition: opacity .5s;
}

.draggable {
    cursor: grab;
}

.center {
    position: fixed;
    align-items: center;
}

a:hover {
    color: purple;
    text-decoration: none;
}

.align {
    position: relative;
    text-align: center;
    padding:20px;
}

.link {
    display:flex;
    margin-left:10px;
    margin-top: 10px;
}