* {
    box-sizing: border-box;
}

body {
    margin:0;
}

.flexbox {
    height:100vh;
    width:100vw;
    background-color: bisque;
    display:flex;
    align-items:flex-end;
    justify-content:center;
    overflow:hidden;
}

.background {
    background-image: url("background.png");
    width:1080px;
    height:700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

}

.circle-center {
    background-color:bisque;
    position:absolute;
    top:180px;
    width:5vw;
    height:5vw;
    border-radius:100%;
    animation: pulse 1s infinite alternate ease;
    
}

.circle-farleft {
    background-color:bisque;
    position:absolute;
    top:180px;
    left:100px;
    width:5vw;
    height:5vw;
    border-radius:100%;
    animation: pulse 1s infinite alternate ease;
}

.circle-left {
    background-color:bisque;
    position:absolute;
    top:180px;
    left:325px;
    width:5vw;
    height:5vw;
    border-radius:100%;
    animation: pulse 1s infinite alternate ease;
}

.circle-farright {
    background-color:bisque;
    position:absolute;
    top:180px;
    right:100px;
    width:5vw;
    height:5vw;
    border-radius:100%;
    animation: pulse 1s infinite alternate ease;
}

.circle-right {
    background-color:bisque;
    position:absolute;
    top:180px;
    right:325px;
    width:5vw;
    height:5vw;
    border-radius:100%;
    animation: pulse 1s infinite alternate ease;
}

.image {
    bottom:0;
    left:0;
    animation: paws 3s infinite alternate ease;
}

@keyframes pulse {
    0% {
        background-color:yellow;
        transform:scale(1);
    }

    100% {
        background-color:yellow;
        transform:scale(1.2);
    }
}

@keyframes paws {
    0% {
        transform: translateY(500%);
    }

    50% {
        transform: translateY(-20%);
    }

    75% {
        transform: translateY(-175%);
    }

    100% {
        transform: translateY(200%);
    }
}

