

body {
    background:black;
}

p {
    color:rgb(255, 251, 15);
    font-size: 30px;
    padding:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1000px;
}

li {
    color:rgb(255, 251, 15);
    font-size: 30px;
    padding:0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-align: center;
}

.container {
    display:flex;
    flex-direction: column;
}

h1 {
    color:rgb(255, 251, 15);
    padding:10px;
    margin-bottom: -15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap:10px;

}