

body {
    background:white;
}

@font-face {
    font-family: 'PicNic-Regular';
    src: url('PicNic-Regular.woff') format('woff'),
         url('PicNic-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karrik-Regular';
    src: url('Karrik-Regular.woff') format('woff'),
         url('Karrik-Regular.woff2') format('woff2'),
         url('Karrik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p {
    color: black;
    font-size: 25px;
    padding:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 2000px;
    align-items: center;
}


.container {
    display:flex;
    flex-direction: column;
    z-index: -1;
    padding-inline-start: 20%;
    padding-inline-end: 20%;
    text-align: justify;
}

h1 {
    color:black;
    padding:18px;
    margin-bottom: -15px;
    font-family:'PicNic-Regular', sans-serif;
    list-style-type: none;
}

h1:hover {
    color: peru;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap:10px;
}

i {
    color:peru;
}

.align {
    text-align: center;
    padding:0px;
    font-size: 32px;
}

.email {
    text-align:center;
    margin-top: -30px;padding:0;
}

a:hover {
    color: peru;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 200px;
    background-color: white;
    font-family: 'Karrik-Regular', sans-serif;
    margin-bottom: -150px;
}
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size:x-large;
  }
  
  li a:hover {
    background-color: rgb(194, 222, 132);
    color: white;
  }