* {
    box-sizing: border-box;
}

@font-face {
  font-family: 'Basteleur-Moonlight';
  src: url('Basteleur-Moonlight.woff') format('woff'),
       url('Basteleur-Moonlight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

img {
    background-color: transparent;
}

body {
    background: orange;
    overflow-x: hidden;
}

p {
    color: purple;
    position:relative;
    left:20%;
    max-width: 350px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: purple;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    font-family:'Basteleur-Moonlight', serif;
}

.align {
    position: relative;
    font-size: 20px;
    padding-left: 20px;
}

.move {
    position:relative;
    -webkit-animation-name: prop-600;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:alternate;
    -webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes prop-600 {
    0% {
        -webkit-transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(600px);
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -250px;
  }

.draggable {
    cursor: grab;
}

.sidepanel {
  height: 250px;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: purple;
  overflow-x: hidden;
  padding-top: 30px;
  transition: 0.5s;
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 25px;
  color: orange;
  display: block;
  transition: 0.3s;
  font-family:'Basteleur-Moonlight', serif;
}


.sidepanel a:hover {
  color:white;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-family:'Basteleur-Moonlight', serif;
  font-size: 20px;
  cursor: pointer;
  background-color: purple;
  color: orange;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: white;
}

a {
    text-decoration: none;
    color: purple;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family:'Basteleur-Moonlight', serif;
}

a:hover {
    color:white;
    transition: 0.25s;
}

.end {
  position: fixed;
  right:30px;
  top:20px;
  font-size: larger;
}