body {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.clip {
   clip-path: url(#clip);
}

.circle-link {
    position:fixed;
    left:150px;
    top:550px;
    background-color:chocolate;
    min-height:40px;
    height:40px;
    width: 40px;
    min-width: 40px;
    border-radius: 100% 100% 100% 100%;
}
