* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Avara-Bold';
    src: url('Avara-Bold.eot');
    src: url('Avara-Bold.eot?#iefix') format('embedded-opentype'),
         url('Avara-Bold.woff2') format('woff2'),
         url('Avara-Bold.woff') format('woff'),
         url('Avara-Bold.ttf') format('truetype'),
         url('Avara-Bold.svg#avarabold') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1 {
    font-family:Arial, Helvetica, sans-serif;
    color:purple;
    text-align: center;
}

p {
    color:black;
    text-align: center;
    font-family: 'Avara-Bold', serif;
    margin-top: -70px;
    margin-bottom: 60px;
    font-size: medium;
}

a {
    font-family: 'Avara-Bold', serif;;
    color:rgb(196, 135, 196);
    font-size:20px;
    padding:0px;
    line-height: 30px;
    text-decoration: none ;
}

img {
    margin:20px;
}

a:hover {
    color: olive;
}

.flex {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
}

body {
    background: lavender;

}

.flexbox {
    display: flex;
    margin-left: 10vh;
    margin-top:0px;
    /* height: 2900px; */
    background: lavender;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:50px;
}


.text {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top:30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding:10px;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.image {
    position:relative;
    width: 500px;
    height: 500px;
}

.image2 {
    position:relative;
    width: 500px;
    height: 700px;
}


.image4 {
    position:relative;
    width: 990px;
    height: 600px;
    left:-250px;
}

.image-img {
    display:block;
    width:100%;
    height: 100%;
}

.image-overlay {
    position: absolute;
    top:-20px;
    left:0;
    margin:20px;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.6);
    color:antiquewhite;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}


.image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image-overlay:hover {
    opacity: 1;
}

.image-overlay:hover > * {
    transform: translateY(0);
}

.image-title {
    font-size: larger;
    font-weight: bold;
    align-items: center;
}

.image-description {
    margin-top: 0.25em;
    color: antiquewhite;
    align-items: center;
    justify-content: center;
    font-size: medium;
    width:70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:20px;
}

.title {
    position:relative;
    width:490px;
    margin-left: 25px;
    margin-top: -10px;
}

.box{
    /* background-color: rgb(229, 82, 82); */
    width: 500px;
    height: 447px;
    margin-top: 0px; 
    position: relative;
}

.navigation {
    position: relative;
    justify-content: baseline;
    margin-top: 50px;
    align-items: center;
}

li {
    list-style-type: none;
}

.slideshow-container {
    position: relative;
    width:500px;
    height:500px;
    margin: 0px;
    margin-top: 20px;
}

.slideshow-container2 {
    position: relative;
    width:500px;
    height:600px;
    margin:0px;
    margin-top:20px;
}

.next, .prev {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:lightgray;
    border:0;
    cursor:pointer;
    z-index:999;
  }
  
  .prev {
    left:0;
  }
  
  .next {
    right:0;
  }


.numbertext {
color: black;
font-size: 12px;
padding: 8px 12px;
position: absolute;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
top: 0;
margin:20px;
}


.dropbtn {
    background-color: plum;
    color: white;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    font-family: 'Avara-Bold', serif;
  }
  

.dropbtn:hover, .dropbtn:focus {
    background-color: black;
  }
  

.dropdown {
    position: fixed;
    align-content: center;
    z-index: 1;
}
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 13px;
}
  

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  

.show {
    display:block;
}
